<h2>Product carts:</h2>

<div>
    <h3>Sort options:</h3>
    <select [(ngModel)]="sortOption">
        <option *ngFor="let option of options" [ngValue]="option">
            {{ option.name }}
        </option>
    </select>
    <br>
    <label for="sortOrder">Ascending -></label>
    <input
        id="sortOrder"
        name="sortOrder"
        type="checkbox"
        [(ngModel)]="sortOrder"
        (change)="onChange($event)"
    />
</div>

<div *ngIf="carts; else empty_cart" class="container">
    <div class="row">
        <div class="col" *ngFor="let cart of carts | orderBy: sortOrder: sortOption.value">
            <app-cart-item
                appHighlight
                [cart]='cart'
                (changeAmount)="onChangeAmount($event)"
                (deleteCart)="onDeleteCart($event)"></app-cart-item>
        </div>
    </div>
</div>

<ng-template #empty_cart>
    <p>Cart is empty</p>
</ng-template>
